:root{
  --primary: #b6895b;
  --bg: #010101;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2000px;
}

/* ================= NAVBAR ================= */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1,1,1,0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo{
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span{
  color: var(--primary);
}

.navbar .navbar-nav a{
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: 0.3s;
}

.navbar .navbar-nav a:hover{
  color: var(--primary);
}

.navbar .navbar-nav a::after{
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
  transform: scaleX(0.2);
}

.navbar .navbar-ekstra a{
  color: #fff;
  margin-left: 1.5rem;
  font-size: 1.6rem;
  transition: 0.3s;
}

.navbar .navbar-ekstra a:hover{
  color: var(--primary);
}

#hamburger-menu{
  display: none;
  cursor: pointer;
}

/* ================= HERO ================= */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 7%;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.23);
    z-index: 1;
}

.hero .content {
    position: relative;
    z-index: 2;
    max-width: 60rem;
    padding: 1.4rem 0;
    text-align: right;
    color: #fff;
}

.hero .content h1{
   font-size: 4.5rem;
   font-weight: 700;
   line-height: 1.2;
   text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.hero .content h2{
   font-size: 3.5rem;
   font-weight: 700;
   color: #fff;
   text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.hero .content p{
  max-width: 45rem;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #ddd;
  margin: 1.5rem 0 2.5rem;
}

.hero .content .cta{
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  background-color: var(--primary);
  border-radius: 3px;
  transition: 0.3s;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.hero .content .cta:hover{
  background-color: #a97a50;
}

/* ================= NAVBAR NAV DEFAULT ================= */
.navbar .navbar-nav{
  position: static;
  display: flex;
  gap: 1rem;
  background: transparent;
  width: auto;
  height: auto;
  padding: 0;
}

/* ================= MOBILE ================= */
@media (max-width: 758px){
  html{
    font-size: 62.5%;
  }

  #hamburger-menu{
    display: inline-block;
  }

  .navbar .navbar-nav{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    padding-top: 2rem;
    display: block;
    transition: 0.3s;
  }

  .navbar .navbar-nav a{
    color: #000;
    margin: 1.5rem;
    display: block;
  }

  .navbar .navbar-nav.active{
    right: 0;
  }

  .hero{
    justify-content: center;
    padding-right: 0;
  }

  .hero .content{
    text-align: center;
  }
}

/*about section*/
.about{
  padding: 8rem 7% 1.4rem;
}

.about h2{
  text-align: center;
  font-size: 2,6rem;
  margin-bottom: 3rem;
}

.about h2 span{
color: var(--primary);
}

.about.row{
  display: flex;
}

.about .row .about-img{
  flex: 1 1 45rem;
}

.about.row .about-img img{
  width: 100%;
}

.about.row .content{
  flex: 1 1 35rem;
  padding: 0 1rem;
}
/*-----media quaries/

/* ================= LAPTOP ================= */
@media (max-width: 1300px){
  html{
    font-size: 75%;
  }
}

/* ================= SMALL MOBILE ================= */
@media (max-width: 450px){
  html{
    font-size: 55%;
  }
}
